.wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    align-items: center;
    padding: 10px;
    margin-top: 100px;
    background-color: transparent;
}

@media (max-width: 1000px) {
    .wrapper {
        flex-flow: column nowrap;
        margin-top: 50px;
        margin-left: 20px;
    }
}