.wrapper {
    width: 95%;
    margin: 0 auto;
    /* border: 1px solid rgb(113, 104, 104); */

}

.menuPart {
    width: 60%;
    /* border: 1px solid yellow; */
    margin: 5px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.itemsWrapper {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    /* background-color: aquamarine; */
    margin: 50px auto;
    border-radius: 20px;
    padding-top: 20px;
}

.itemsWrapper::-webkit-scrollbar {
    display: none;
  }

@media (max-width: 700px) {
    .menuPart {
        width: 100%;
        height: 100px;
        display: block;
        overflow: auto;
        white-space: nowrap;
        /* background-color: aqua; */
    }

    .menuPart::-webkit-scrollbar {
        display: none;
      }

    .itemsWrapper {
        width: 95%;
        margin:20px auto;
    }
}

@media (max-width: 400px) {
    .itemsWrapper {
        width: 95%;
        height: fit-content;
        margin:20px auto;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        align-items: center;

    }
}