.avatar {
    width: 100px;
    height: 80px;
    border: none;
    flex-basis: 100px;
}

.avatar img {
    width: 50%;
    height: 60%;
}

@media (max-width: 1000px) {
    .avatar {
        width: 80px;
        height: 50px;
    }
}