.wrapper1 {
    width: 200px;
    height: fit-content;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    top: 70px;
    right: 58px;
    z-index: 200;
    background-color: rgba(240,240,240, 0.1);
    backdrop-filter: blur(100px);
    /* box-shadow: -1px 1px 10px 1px rgb(83, 79, 79); */
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-end;
    box-shadow: 0 0 5px 1px #ccc;
}

.wrapper2 {
    display: none;
}

.wrapper1 div {
    width: 90%;
    height: 40px;
    /* background-color: azure; */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    color: rgb(47, 46, 46);
    font-size: 17px;
}

.add:hover {
    font-weight: bolder;
    cursor: pointer;
}

.logout:hover {
    font-weight: bolder;
    cursor: pointer;
    color: rgb(238, 106, 106);
}

.wrapper1 div span {
    margin-left: 10px;
    /* font-size: 22px; */
    /* position: absolute; */
    /* background-color: aqua; */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 20px;
    height: 20px;
}

.wrapper1 hr {
    width: 90%;
    height: 2px;
    background-color: gray;
    border: none;
    margin: 0 auto;
}

@media (max-width: 600px) {
    .wrapper1 {
        display: none;
    }

    .wrapper2 {
        width: 100px;
        height: 180px;
        top: 50px;
        right: 20px;
        z-index: 200;
        box-shadow: 0 0 1px 1px #ccc;
        border-radius: 10px;
        position: fixed;
        background-color: rgba(240,240,240, 0.1);
        backdrop-filter: blur(100px);
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
    }

    .wrapper2 div {
        width: 90%;
        /* height: 30px; */
        font-size: 15px;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        color: rgb(47, 46, 46);
        padding: 5px 0px;
        /* border: 1px solid #ccc; */
    }

    .wrapper2 div span {
        margin-left: 5px;
        width: 15px;
        height: 15px;
        /* background-color: aqua; */
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .logout {
        background-color: #ccc;
        margin: 5px 0;
        border-radius: 5px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
}