.wrapper {
    width: 85%;
    height: 120px;
    background-color: rgb(54, 53, 53);
    margin: 10px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0 5px;
}

.wrapper img {
    width: 60px;
    height: 60px;
    margin: 5px;
}

.name {
    height: 100%;
    width: 180px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    /* background-color: aqua; */
}

h4 {
    margin: 5px;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.control {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    /* margin-left: 10px; */
}

.control button {
    background-color:transparent;
    color: white;
    font-size: 20px;
    width: 30px;
    height: 50px;
    border: none;
}

.control button:hover {
    border: 1px solid rgb(42, 41, 41);
}

.control div {
    width: 30px;
    text-align: center;
    color: white;
    font-size: 21px;
}

@media (max-width: 600px) {
    .wrapper {
        height: 70px;
        margin: 7px 0;
    }

    .wrapper img {
        width: 55px;
        height: 50px;
        margin: 2px;
    }

    .name {
        height: 100%;
        width: 100px;
        /* background-color: aqua; */
    }

    h4 {
        margin: 2px;
        font-size: 15px;
        font-weight: 400;
    }

    .control div {
        width: 20px;
        text-align: center;
        color: white;
        font-size: 15px;
    }
}